<div class="container-fluid">
	<div class="span4">
		<h1>About Us</h1>	
		<p>At lyshirts, we love shirts. We love them a lot. We love them so much, that we decided to create a list of the internet's best shirts!</p>
		<p>Using lyshirts.com is super easy. You find a shirt you like, you click it, and we will link you to the place where you can buy it! Our goal is to bring you together with the best shirts on the internet.</p>
	</div>
</div>