<div class="container">
	<div class="row">
		<div class="span6">
			<h1>Thanks for stopping by!</h1>

			<p>We're under construction at this time, but we would love to let you know when the site is ready</p>
			<%= render 'form' %>
			<div class="span4">
				<em class="text-info">don't worry, we'll never do anything nefarious with your email, it will only be used for good. For now, we will only use it to contact you when we're ready to show you our site</em>
			</div>
		</div>
	</div>
</div>