<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4"></div>
		<div class="span4">
			<p>
			  Thank you <%= @lead.name %>! We will let you know when we're ready to show you some shirts.
			</p>
		</div>
	</div>
</div>
