<h1>Legal stuff</h1>
<p class="span6">We don't own any of the shirts on this site. All rights are reserved by the respective owner of each shirt.</p>
<p class="span6">We also don't have any authority over any site we link to, and we don't have any control over any of their policies</p>