<section>
  <h1>pick a shirt, any shirt</h1>
  <div class="container">
    <div class="row">
      <div class="shirts">
        <% @shirts.each do |shirt| %>
          <div class="span3 shirt_pics">
            <%= link_to image_tag(shirt.image_url, alt: shirt.caption), shirt.affiliate_link %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<% if !@affiliates.empty? %>
  <section>
    <div class="horizontal_line">
      <p>sites we love</p>
    </div>
    <div class="container affiliate_links">
      <% @affiliates.each do |affiliate| %>
         <%= link_to image_tag(affiliate.image_url, alt: affiliate.affiliate_site), affiliate.affiliate_url %>
      <% end %>
    </div>
    
  </section>
<% end %>
