// Place all the styles related to the Shirts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  float:none;
  margin: 0 auto;
}

img {
  margin: 0 auto;
}

.horizontal_line {
  background-color: #1b1b1b;
  height: 3em;
}

.horizontal_line p {
	font-size:1.5em;
	color: #959595;
	padding: 10px 0;
	text-align: center;
}

.affiliate_links img {
	width: 15%;
	height: auto;
  padding: 0.125em;
}

.shirts {
  margin: 0 auto;
}